%h1 Listing products

%table
  %tr
    %th Product
    %th Price
    %th Name
    %th Description
    %th Clearance
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.product_id
      %td= product.price
      %td= product.name
      %td= product.description
      %td= product.clearance
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
